[toolchain]
# Version of the `anchor` CLI binary to use
anchor_version = "0.29.0"

[features]
resolution = true
skip-lint = false

[programs.devnet]
faucet = "AacgyqyCJhybFsvfc7GfAvA5GjV9oc6nqhNGJNSKW477"
splitter = "DMrAqzweWu8UQvCvGK2yfrGwUdkjiav4MafRV1SKxx6j"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

