{
  "GGL": "YOUR_GGL_MINT_ADDRESS",
  "SEARCH": "YOUR_GGL_SEARCH_MINT_ADDRESS",
  "YT": "YOUR_GGL_YT_MINT_ADDRESS",
  "CLOUD": "YOUR_GGL_CLOUD_MINT_ADDRESS",
  "OTHER": "YOUR_GGL_OTHER_MINT_ADDRESS"
}




